@import "../../assets/stylesheets/var";

.header-position{
    display: flex;
    position: sticky;
    z-index: 1200;
    top: 0;
}

.header{
    // max-width: 80vw;
    .flex-between{
        min-width: 80vw;
    }
}

.icon-buttons{
    display: none;
}

@media only screen and (min-width: 376px) and (max-width: 576px) {
    .icon-buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}