@import "../../assets/stylesheets/var";

.header-position{
    display: flex;
    position: sticky;
    z-index: 1200;
    top: 0;
}

.header{
    // max-width: 80vw;
    .flex-between{
        min-width: 80vw;
    }
}